<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Land Sale</title>
</head>
<body>
    <h1> Blantyre shop mall </h1>
    <h2>2 ha of land </h2>
    <h2> price : MWK 20Million</h2>
    <form action="/check_out" method="post">

        <input type="submit" value="payment checkout">
    </form>
</body>
</html>